torch
torchvision
tensorflow
numpy
pandas
scikit-learn
scipy
fastapi
ultralytics
starlette
matplotlib
torchvision
torch
torch-snippets
Pillow
Ipython
opencv-python
numpy
pandas
httpx
qrcode
requests
asyncio
matplotlib
seaborn
requests
pillow
scikit-image
torch_snippets
transformers
huggingface-hub
pyyaml
tqdm
torchsummary
tensorboard
fastapi[standard]
flask
ultralytics
opencv-python
nltk
pycocotools
pytest
pytest-cov
pytest-asyncio
uvicorn
fastapi-cli
#uvloop
loguru
py-cpuinfo
google-auth
gino
sqlalchemy
requests
regex
pydantic
pydantic-extra-types
pyyaml
