torch
torchvision
tensorflow
numpy
pandas
scikit-learn
scipy
matplotlib
seaborn
requests
pillow
scikit-image
transformers
huggingface-hub
pyyaml
tqdm
tensorboard
fastapi[standard]
flask
opencv-python
nltk
pycocotools
pytest
pytest-cov
pytest-asyncio
uvicorn
fastapi-cli
uvloop
loguru
py-cpuinfo
google-auth
gino
sqlalchemy
requests
regex
pydantic
pydantic-extra-types
pyyaml
