<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Hands_on_Projects.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <h1>EnduraMind</h1>
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/features">Features</a></li>
                <li><a href="/courses">Courses</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <!--<div class="auth-buttons">
                <button class="buttons" type="submit">Log in</button>
                <button class="buttons" type="submit">Join for Free</button>
            </div>-->
            <div class="hamburger-menu" id="hamburger-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="auth-buttons">
                <!-- Google Sign-In integration -->
                <div id="g_id_onload" data-client_id="489201882672-elcgm6oqbnk8lb2stglrr7m7o0kmkqpl.apps.googleusercontent.com" data-callback="handleCredentialResponse"></div>
                <div class="g_id_signin" data-type="standard"></div>
            </div>   
        </nav>
    </header>




    
    <h1>Hands_on_Projects here</h1>
    <p>Show some sample projects here!!</p>

    <div class="Image_Classification">
        <form action="/ImageClassification" method="post" enctype="multipart/form-data">
            <input type="file" name="Image" id="Image" accept=".png, .jpg, .jpeg">
            <button type="submit">Classify Image</button>
        </form>

        {% if content and image%}
        <h2>File Name: {{ content }}</h2>
        <img src="{{ image }}" alt="">
        {% endif %}
    </div>



    <script src="/static/js/Hands_on_Projects.js"></script>
</body>
</html>